<section class="sign-up-page">

  <!-- BACKGROUND -->

  <div class="background-image"></div>

  <!-- LANGUAGE ICON -->

  <button
    class="language-icon"
    type="button"
    (click)="openLanguageModal()">

    🌐

  </button>

  <!-- MAIN CONTENT -->

  <div class="sign-up-container">

    <!-- LEFT -->

    <div class="form-section">

      <h1>{{ 'signup.title' | translate }}</h1>

      <form>

        <div class="input-group">
          <label>{{ 'signup.name' | translate }}</label>
          <input type="text">
        </div>

        <div class="input-group">
          <label>{{ 'signup.lastname' | translate }}</label>
          <input type="text">
        </div>

        <div class="input-group">
          <label>{{ 'signup.number' | translate }}</label>
          <input type="text">
        </div>

        <div class="input-group">
          <label>{{ 'signup.email' | translate }}</label>
          <input type="email">
        </div>

        <div class="input-group">
          <label>{{ 'signup.password' | translate }}</label>
          <input type="password">
        </div>

        <div class="input-group">
          <label>{{ 'signup.confirmPassword' | translate }}</label>
          <input type="password">
        </div>

        <button
          class="register-button"
          type="button">

          {{ 'signup.button' | translate }}

        </button>

      </form>

    </div>

    <!-- RIGHT -->

    <div class="photo-section">

      <div class="photo-box">

        <p>{{ 'signup.photo' | translate }}</p>

        <span>↓</span>

      </div>

    </div>

  </div>

  <!-- LANGUAGE MODAL -->

  @if (showLanguageModal) {

    <div class="language-modal">

      <div class="modal-card">

        <button
          class="close-button"
          type="button"
          (click)="closeLanguageModal()">

          ×

        </button>

        <h2>{{ 'signup.language' | translate }}</h2>
        <div class="line"></div>

        <button
          type="button"
          class="language-option"
          (click)="changeLanguage('es')">

          {{ 'signup.spanish' | translate }}

        </button>

        <button
          type="button"
          class="language-option"
          (click)="changeLanguage('en')">

          {{ 'signup.english' | translate }}

        </button>

      </div>

    </div>

  }

</section>
