<section class="recover-page">

  <!-- DECORATION -->

  <div class="corner top-left"></div>

  <!-- CARD -->

  <div class="recover-card">

    <!-- STEP 1 : EMAIL -->

    @if (!showCodeStep && !showResetPassword) {

      <h1>Recuperar contraseña</h1>

      <label>Correo:</label>

      <input
        type="email"
        [(ngModel)]="email"
        name="email">

      <p>
        Ingresa tu correo si no puedes usar algunos servicios para recuperar la contraseña
      </p>

      <button
        type="button"
        (click)="sendEmail()">

        Recuperar

      </button>

    }

    <!-- STEP 2 : CODE -->

    @if (showCodeStep && !showResetPassword) {

      <h1>Recuperar contraseña</h1>

      <label>Ingrese código:</label>

      <input
        type="text"
        [(ngModel)]="code"
        name="code">
      <p>
        Revise su bandeja de entrada y la bandeja de spam
      </p>

      <button
        type="button"
        (click)="verifyCode()">

        Siguiente

      </button>

    }

    <!-- STEP 3 : NEW PASSWORD -->

    @if (showResetPassword) {

      <h1>Recuperar contraseña</h1>

      <label>Ingrese nueva contraseña</label>

      <input
        type="password"
        [(ngModel)]="newPassword"
        name="newPassword">

      <div class="rules">

        <strong>Recuerda:</strong>

        <span>Que contenga una mayúscula</span>

        <span>Escriba algún signo, -_#$%</span>

        <span>Que contenga números</span>

      </div>

      <label>Ingrese nuevamente tu contraseña</label>

      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword">

      <p>
        Observe si las contraseñas coinciden
      </p>

      <button
        type="button"
        (click)="recoverPassword()">

        Recuperar

      </button>

    }

  </div>

  <!-- SUCCESS MODAL -->

  @if (showCodeSentModal) {

    <div class="modal-overlay">

      <div class="success-modal">

        <button
          type="button"
          class="close-button"
          (click)="closeCodeModal()">

          ×

        </button>

        <h2>Se envio un codigo</h2>

        <p>
          Revise su correo por favor
        </p>

        <div class="check-circle">
          ✓
        </div>

      </div>

    </div>

  }

</section>
